main {
    background-color: #dadada;
    padding: 20px 0;
}
.content_chat {
    background-color: #fafafa;
    width: 90%;
    box-shadow: 0 0 10px #ccc;
    border-radius: 2px;
    padding: 20px;
    margin: 0px auto;
}

.chat-box {
    height: 550px;
    max-height: 70vh;
    border: 1px solid #555;
    padding: 10px;
    overflow: auto;
}

.chat-box::-webkit-scrollbar {
    width: 5px;
    height: 90%;
    margin-top: 5%;
}
 
.chat-box::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.chat-box::-webkit-scrollbar-thumb {
  background-color: #b507ca;
  outline: none;
}

.chat-box .message {
    padding: 5px 10px;
    border-radius: 15px;
    box-shadow: 0 0 3px #b507ca;
    color: #555;
    width: fit-content;
    margin: 15px 0;
    max-width: 70%;
}

.chat-box .message.user {
    margin-left: auto;
    margin-right: 20px;
}

.chat-camp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.chat-camp textarea {
    width: 90%;
    resize: none;
    border-color: #b507ca;
    outline: none;
    color: #333;
    padding: 10px 20px;
    transition: all 300ms ease;
}

.chat-camp textarea:focus,
.chat-camp textarea:active {
    border-color: #e385ef;
    transform: scale(1.01); 
}

.chat-camp a {
    display: block;
    margin-right: 15px;
    background-color: #e385ef;
    color: #000;
    box-shadow: 0 0 5px #333;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
    outline: none;
    font-size: 18px;
    transition: all 300ms ease;
}

.chat-camp a:hover,
.chat-camp a:focus,
.chat-camp a:active {
    box-shadow: 0 0 10px #333;
    transform: scale(1.05); 
}