body {
    font-family: 'Arial Narrow', Arial, sans-serif;
}

html, body, main {
    height: 100%;
}

header {
    display: flex;
    padding: 10px 40px;
    align-items: center;
    background-color: #808080;
}

header .logo {
    margin-left: 5%;
}

header h1 {
    font-size: 28px;
    color: #fff;
    width: 25%;
    text-align: center;
}

header .navbar {
   width: 50%;
}

header .navbar ul {
    justify-content: space-around;
    display: flex;
    align-items: center;
}

header .navbar li {
    margin: 0 20px;
}

header .navbar a {
    color: #fff;
    font-size: 18px;
}

footer {
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 15px;
}

footer p {
    color: #fff;
    font-size: 12px;
}